<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gnpmazurefunctionprod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/55fe7a8e-5155-4ce0-9c00-905fd96099a5/resourceGroups/rg-gnpr-p-001/providers/Microsoft.Web/sites/gnpmazurefunctionprod</ResourceId>
    <UserName>$gnpmazurefunctionprod</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://gnpmazurefunctionprod.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>