<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gnpmdevazurefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d72ddb71-a22a-4e2f-b8b0-b1ab74bdbe71/resourceGroups/rg-gnpr-n-001/providers/Microsoft.Web/sites/GNPMDevAzureFunctions</ResourceId>
    <UserName>$GNPMDevAzureFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://gnpmdevazurefunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>